body{
    padding:0;
    margin: 10px;
    background-color: #041430;
    font-family: Arial, Helvetica, sans-serif;
}

#survey{
    color:#fff;
    padding:10px;
    display: block;
    max-width:460px;
    margin:50px auto;
    text-align: center;
    border-radius: 15px;
    background-color: #041430;
}

.counter{
    font-size: 12px;
}

.question{
    display: none;
}

.question p{
    font-size: 18px;
    font-weight: bold;
}
        
.question span {
    -moz-box-shadow:inset 0px 1px 0px 0px #c70039;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c70039;
    box-shadow:inset 0px 1px 0px 0px #c70039;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c70039), color-stop(1, #c70039));
    background:-moz-linear-gradient(top, #c70039 5%, #c70039 100%);
    background:-webkit-linear-gradient(top, #c70039 5%, #ff5733 100%);
    background:-o-linear-gradient(top, #c70039 5%,  #ff5733 100%);
    background:-ms-linear-gradient(top, #c70039 5%, #ff5733 100%);
    background:linear-gradient(to bottom, #c70039 5%, #ff5733 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c70039', endColorstr='#c70039',GradientType=0);
    background-color:#c70039;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #c70039;
    display:block;
    margin:8px 0;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70039;
}

.question span:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c70039), color-stop(1, #c70039));
    background:-moz-linear-gradient(top, #c70039 5%, #c70039 100%);
    background:-webkit-linear-gradient(top, #c70039 5%, #c70039 100%);
    background:-o-linear-gradient(top, #c70039 5%, #c70039 100%);
    background:-ms-linear-gradient(top, #c70039 5%, #c70039 100%);
    background:linear-gradient(to bottom, #c70039 5%, #c70039 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
    background-color:#ff5733;
}

.question span:active {
    position:relative;
    top:1px;
}


#finish{
    color:#fff;
    padding:10px;
    display: none;
    max-width:460px;
    margin:50px auto;
    text-align: center;
    border-radius: 15px;
    background-color: #252525;
}
