#innerContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: rgb(236, 230, 230);
}

#outerContainer {
    padding: 20%;
    background-color: rgb(202, 199, 199);
}

.questionContainer {
    background-color: rgb(189,118,59);
    grid-column: 2/5;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}

.choiceA {
    background-color: rgb(72,127,167);
    grid-column: 2/3;
    border-radius: 40px;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5%;
    width: auto;
}

.choiceB {
    background-color: rgb(72,127,167);
    grid-column: 3/4;
    border-radius: 40px;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 5%;
    width: auto;
}

.choiceC {
    background-color: rgb(72,127,167);
    grid-column: 4/5;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 10%;
    padding: 5%;
    width: auto;
}

.choicesAnimation:hover {
    background-color: rgb(57, 149, 214);
}

.choicesAnimation:active{
    background-color: bisque;
}

.nextAnimation:hover {
    background-color: rgb(214, 137, 73);
}

.nextButton {
    background-color: rgb(189,118,59);
    grid-column: 4/5;
    border-radius: 40px;
    text-align: center;
    padding: 5%; 
    width: auto;
}

.feedback {
    background-color: antiquewhite;
    grid-column: 2/4;
    border-radius: 10px;
    text-align: center;
    margin-right: 5%;
    padding: 2%;
    width: auto;
}

.scoreLabel {
    background-color: rgb(100, 100, 100);
    grid-column: 2/5;
    border-radius: 10px;
    text-align: center;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2%;
    width: auto;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.feedbackCorrect {
    background-color: rgb(111,163,62);
}

.feedbackWrong {
    background-color: rgb(184,54,88);
}

.dim {
    background-color: rgb(150, 150, 150);
}



